@charset "UTF-8";


#container{
    width: 700px;
    height: 730px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 3px;
    margin-bottom: 169px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
    overflow: auto;
    
}



body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#C3E6BC;
}


h1{
    padding-top: 20px;
    text-align: center;
    font-size: 3em;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}

#teste{
    margin: 40px;
}

h2{
    font-size: 1.2em;
    padding-left: 70px;
}

h3{
    border-top: 1px solid #CCC;
    font-size: 1.2em;
    padding-left: 70px;
    padding-top: 20px;
}

header{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
    
}

header{
    justify-content: left;
}


input.listaDeTarefas{
    height: 40px;
    width: 60%;
    text-align: center;
    font-weight: bold;
}


button.add{
    border-color: gray;
    font-weight: bold;
    width: 46px;
    height: 46px;
    cursor: pointer;
    margin-left: 5px;
    font-weight: bold;
    font-size: 25px;
    background: none;
    
}

button.add:hover{
    background-color: #98E68F;
    color: white;
}

main{
    
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
    /* border: 1px solid blue; */
    
}

.item{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 50px;
    width: 430px;
    box-shadow: 0px 0px 2.6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
    cursor: pointer;
}

.item.clicado{
    background: rgba(117, 117, 117, 0.397);
}

.item.clicado .itemNome{
    text-decoration: line-through;
    color: grey;
}

.itemIcone{
    flex: 0.5%;
    text-align: center;
    font-size: 1.8rem;
    
}
.itemNome{
    flex: 20%;
    font-size: 20px;
    font-weight: bold;
}

.itemBotao{
    text-align: end;
    flex: 10%;
}

.delete{
    border-color: gray;
    font-weight: bold;
    width: 46px;
    height: 46px;
    cursor: pointer;
    margin-left: 5px;
    font-weight: bold;
    font-size: 25px;
    background: none;
}

.delete:hover{
    background-color: #FF5147;
    color: white;
    transition:  0.17s;
}

.fa-check-circle{
    color: rgba(99, 98, 98, 0.74);
}


::-webkit-scrollbar {
    width: 10px; /* largura da barra */
  }
  
  /* Estilos do trilho */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* cor de fundo */
  }
  
  /* Estilos do botão do indicador */
  ::-webkit-scrollbar-thumb {
    background: #888; /* cor do indicador */
    border-radius: 5px; /* borda do indicador */
  }
  
  /* Estilos do botão do indicador quando houver hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* cor do indicador em hover */
  }


